/* Write your CSS here */
.bg_container {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: solid;
  border-width: 1px;
}
.container {
  display: flex;
  flex-direction: column;
}
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  border-style: none;
}
